<header>
    <h1>Carrito - # {{ id }}</h1>
</header>

<main class="container">
    {{#if products.length}}
    <table>
        <tbody id="products-list">
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
            {{#each products }}
            <tr>
            <td>{{this.product._id}}</td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="{{ id }}/purchase" method="post">
        <button type="submit">Checkout</button>
    </form>

    <form id="btn-empty-cart" action="/carts/{{ id }}">
        <button type="submit">Vaciar Carrito</button>
    </form>
    {{else}}
    <h3>No hay productos en el carrito</h3>
    {{/if}}
    <a href="/products">Volver a Productos</a>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</main>