<header>
    <h1>Producto - # {{id}}</h1>
</header>

<main class="container">
    <table>
        <tbody id="product-table">
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Código</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Stock</th>
            <th>Categoría</th>
        </tr>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.code}}</td>
            <td>{{product.price}}</td>
            <td>{{product.status}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.category}}</td>
        </tr>
        </tbody>
    </table>
    <form action="/carts/{{ cartId }}/product/{{ id }}" method="post">
        <button type="submit">Agregar al Carrito</button>
    </form>
    {{#ifEquals role "ADMIN"}}
    <form id="btn-delete-product" action="/products/{{ id }}">
        <button type="submit">Eliminar</button>
    </form>
    {{/ifEquals}}
    <a href="/products">Volver a Productos</a>
</main>